workflow.json.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3937ce84-bf46-463f-b1a3-d987448f33da",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=Use this description:\n{{ $json.image_description_for_generation }}\n\nRequirements:\n- Use the uploaded product image as the main product.\n- Blend it into a real scene naturally.\n- Professional com",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "08f1c056-0174-44f8-9b60-4d976c1e21a3",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "IObSs16yCsJ3UFbQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Ky-hCzBKHDlAARWde5GpSYG9kOqukYBR",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ky-hCzBKHDlAARWde5GpSYG9kOqukYBR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        0
      ],
      "id": "5e10eeba-30b4-4cdb-860c-0665de90be11",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MqQBgJqCwIVzDJBF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a66aad4-d963-4bf7-a546-4e0d47142c7c",
              "name": "productName",
              "value": " titan watch",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "4e1f9528-16ea-4cb2-bed0-b6fb1d019155",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84e3770f-0647-4c1b-8612-b354e054c1ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b731ec4dd5fee35ce4c306fdab1d1c65b2dda08a1e760e1feb903bf1d61b49a2"
  },
  "id": "6mh3dHRBIOTXw9tX",
  "tags": []
}